* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

body {
  background-color: #EFF8F3;
}

h1 {
  margin-top: 50px;
}

.board {
  margin: 60px auto;
  border-collapse: collapse;
}

.board td {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  border: 5px solid #454545;
  font-size: 40px;
  cursor: default;
}

.board tr:first-child td {
  border-top: 0;
}

.board tr:last-child td {
  border-bottom: 0;
}

.board tr td:first-child {
  border-left: 0;
}

.board tr td:last-child {
  border-right: 0;
}

.play-x {
  color: #4BC6B9;
}

.play-o {
  color: #F7D08A;
}

div {
  height: 25px;
  margin-bottom: 30px;
}

#winnerMsg {
  font-size: 1.5em;
  color: #40d683;
}

#reset {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff007c;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

#reset:focus {
  outline: none;
}

#reset:hover {
  background-color: #D10066;
}